*, *::before, *::after {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

body{
    margin: 0;
}

.mulchoice{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 88% 10%;
    min-height: 80vh;
}

#canvas1 {
    border: 2px solid black;
    width: 880px;
    height: 530px;
}

.fill-in-answer-box{
    display: flex;
    justify-content: center;
}
.icon {
    width: 30px;
    height: auto;
    margin: 0 20px;
    cursor: pointer;
}