/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    margin: 0;
    font-family: 'Nunito' sans-serif;
}

.fill-in-container{
    min-height: 80vh;
    height: 100vh;
    padding: 10px;
}

.canvas-box{
    height: 100%;
    display: grid;
    grid-template-columns: 20% 80% ;
    grid-template-rows: 100%;
    margin: auto 0;
}

.canvas{
    text-align: center;
    margin: auto 0px;
}

#canvas1 {
    width: auto;
    max-width: 100%;
    height: 85vh;
    border-radius: 1.5rem;
}

.guide-box{
    margin: 10vh 0;
    font-size: 15px;
}

.fill-in-form{
    margin-top: 7vh;
    font-size: 17px;
}

.icon {
    width: 40px;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
    display: block;
}

.icon.guide{
    margin-top: 7vh;
}

.fill-in-question span {
    font-weight: 600;
} 

.fill-in-answer {
    border: 0.2px solid #000;
    padding-left: 5px;
    border-radius: 5px;
    min-height: 35px;
    font-size: 15px;
    margin: 5px auto;
}

.pop-up{
    text-align: center;
    width: 45%;
    max-width: 600px;
    min-height: 25vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    padding: 0 20px;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.big-icon{
    width: 100px;
    margin-top: -40px;
}

.face{
    display: block;
    width: 60px;
    margin: 5px auto;
}

.pop-up h2 {
    color: #f2663c;
    margin: 10px auto;
}

button {
    font-size: 16px;
    border: none;
    min-width: 150px;
    min-height: 35px;
    cursor: pointer;
    border-radius: 10px;
}

.guide.btn{
    background-color: #c2c0c0;
    margin: 20px 0 20px 15px;
}

.backToQuiz{
    background-color: #c2c0c0;
    margin: 20px;
}

.guide.pop-up{
    left: 60%
}

/* css for progress bar starts here */
.progress-bar-container{
    font-size: 17px;
    margin-bottom: 7vh;
    margin-left: 5%;
}
.progress-bar{
    position: relative;
    height: 5vh;
    width: attr(width);
    background-color: #95e1d3;
    border-radius: 17px;
    color: #fff;
}

.progress-bar::before{
    content: attr(datalabel);
    position: absolute;
    top: 20%;
    left: 7%;
}

.fill-in {
    display: block;
    margin: 10px auto;
}