/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body, input, button {
    margin: 0;
    font-family: 'Nunito' sans-serif;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 90% 10%;
    min-height: 92vh;
}

/* Slides css starts here */
.slides {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-rows: 80% 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;
    margin: auto 0;
    height: 100%;
}

.images-wrapper {
    grid-column: 1;
    grid-row: 1;
}

.home-image {
    max-width: 90%;
    max-height: 95%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0 auto;
    border-radius: 2rem;
    margin-top: 20px;
}


.text-slider {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.text-wrap {
    max-height: 2.2rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.bullets {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bullets span {
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #aaa;
    margin: 0 0.25rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.bullets span.active{
    width: 1.1rem;
    background-color: #151111;
    border-radius: 1rem;
}
/* Slides css ends here */

/* News css starts here */
.news{
    grid-column: 2;
    grid-row: 1;
}

/* News css ends here */

/* footer css starts here */
.footer {
    grid-column: 1 / span 2;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    margin: 0 auto;
}

.footer p{
    color: black;
    font-size: 14px;
}

.policy-link{
    font-size: 14px;
    text-decoration: none;
    color: rgb(49, 49, 255);
    margin: 10px 0;
    cursor: pointer;;
}

/* footer css ends here */