/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body, input, button {
    margin: 0;
    font-family: 'Nunito' sans-serif;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 90% 10%;
    min-height: 92vh;
}

/* Slides css starts here */
.slides {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-rows: 70% 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;
    margin: 15px 0;
    max-height: 90%;
    width: 50vw;
}

.images-wrapper {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    margin: 15px auto;
}

.home-image {
    max-height: 50vh;
    width: auto;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-radius: 2rem;
}


.text-slider {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.bullets {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.bullets span {
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #aaa;
    margin: 0 0.25rem;
    border-radius: 50%;
    transition: 0.3s;
}

.bullets span.active{
    width: 1.1rem;
    background-color: #151111;
    border-radius: 1rem;
}
/* Slides css ends here */

/* News css starts here */
.news{
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    margin: 20px 30px;
}

.news-heading{
    text-align: center;
}

.news-time{
    font-size: 12px;
    margin: 5px;
}

.big-line{
    height: 5px;
    width: 100%;
    background-color: #95e1d3;
    margin: 5px 0 10px 0;
}

a{
    text-decoration: none;
}

.link{
    color:#f2663c;
    font-size: 20px;
    font-weight: 700;
}

.news-content > *{
    font-size: 15px;
    padding: 5px;
}

hr{
    border-top: 1px dotted #808080;
    border-bottom: none;
    margin: 10px 0;
}

/* News css ends here */

/* footer css starts here */
.footer {
    grid-column: 1 / span 2;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    margin: 0 auto;
}

.footer p{
    color: black;
    font-size: 14px;
}

.policy-link{
    font-size: 14px;
    text-decoration: none;
    color: rgb(49, 49, 255);
    margin: 10px 0;
    cursor: pointer;;
}

/* footer css ends here */