/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body, input, button {
    margin: 0;
    font-family: 'Nunito' sans-serif;
}

.nav {
    display: flex;
    align-items: center;
    height: 8vh;
    color: black;
    background-color: #95e1d3;
}

.nav--logo {
    height: 90%;
    margin-right: auto;
    padding-left: 20px;
    cursor: pointer;
}

.nav--links {
    list-style: none;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.nav--links > a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 18px;
    margin-right: 50px;
    cursor: pointer;
}